/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
html,
body {
  background: linear-gradient(to left, #e99696, #cf5d5d);
  color: #fff;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 16px;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.content {
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
}

.wrapper-two {
  position: relative;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1em;
}

.wrapper-sidebar {
  max-width: 1400px;
  display: grid;
  grid-template-columns: minmax(100px, 400px) repeat(1, minmax(100px, 1fr));
  grid-gap: 1em;
}

.wrapper-two .spread,
.wrapper-sidebar .spread {
  padding: 0px 50px;
  min-height: 12vh;
  grid-column: 1 / -1;
}

.wrapper-two .spread-middle,
.wrapper-sidebar .spread-middle {
  padding: 0px 50px;
  min-height: 12vh;
  grid-column: 1 / -1;
  max-width: 40vw;
  margin: auto;
}

.wrapper-two .big-text-box {
  padding: 0px 50px;
  min-height: 90vh;
  grid-column: 1 / -1;
}

.wrapper-two .element {
  max-width: 400px;
  margin: auto;
  padding: 0px 5vw;
}

.wrapper-two .top,
.wrapper-sidebar .top {
  width: 5vw;
  padding-left: 2vw;
}

.row {
  padding: 4px;
}

/* ----------------------------------------------- */
/* NAVIGATION */
/* ----------------------------------------------- */
.main-nav {
  font-weight: 800;
  font-size: 20px;
  float: right;
  list-style: none;
  margin: 55px 10px;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 12px;
}

.main-nav li a:link {
  padding: 2px 0;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover {
  border-bottom: 5px solid #fff;
}

/* ----------------------------------------------- */
/* GALLERY */
/* ----------------------------------------------- */
.grid {
  max-width: 1200px;
  min-width: 200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  max-width: 300px;
  min-width: 200px;
  margin: 9px 10px;
}
/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.contact-form {
  margin: 20% 0;
  padding-top: 40px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  color: #848484;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input,
input[type=file] {
  width: 250px;
  content: 'Upload';
  text-align: left;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.custom-file-input:hover {
  margin-right: 15px;
  background-color: #fff;
  color: #f08080;
}

/* ----------------------------------------------- */
/* LINKS */
/* ----------------------------------------------- */
a.text:link,
a.text:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 3px solid #fff;
}

a.text:hover,
a.text:active {
  border-bottom: 3px solid transparent;
}

/* ----------------------------------------------- */
/* BUTTONS */
/* ----------------------------------------------- */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover {
  border: 1px solid #fff;
  margin-right: 15px;
  background-color: #fff;
  color: #f08080;
}

button {
  display: inline-block;
  padding: 5px 5px;
  font-weight: 200;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #f08080;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.delete-button {
  position: absolute;
  bottom: 9px;
  left: 5px;
  display: inline-block;
  padding: 5px 5px;
  font-weight: 200;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.delete-button:hover {
  background-color: #f08080;
  /* border: 1px solid #f08080; */
}

/* ----------------------------------------------- */
/* Images */
/* ----------------------------------------------- */

img {
  max-width: 100%;
  max-height: 100%;
}

.social{
  width: 20px;
}

.hero-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: calc(90vh * 1.58);
}

/* Used for homepage animation */
.sliding-window{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero img {
  object-fit: cover;
}

/* ----------------------------------------------- */
/* FONTS */
/* ----------------------------------------------- */
h1,
h2 {
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: calc(8vw + 20px);
  margin: 25vh auto;
  /* filter: drop-shadow(50px 100px 5px black); */
}

h2 {
  text-align: left;
  font-size: 300%;
  margin: 0 auto;
}

h3 {
  text-align: left;
  line-height: 60px;
  font-size: 350%;
  padding: 0 20%;
}

h4 {
  /* background: #345; */
  text-align: left;
  line-height: 60px;
  font-size: 350%;
  /* padding: 0px 50px; */
}

h5 {
  /* background: #295; */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  /* padding: 0px 50px; */
}
